-# Getting simple_form to work without a model
-# http://stackoverflow.com/questions/9342277/does-form-tag-work-with-simple-form/12622896#12622896


.row
  .large-12.columns
    %h2 Log in
    = simple_form_for :login, { url: sessions_path } do |f|
      %fieldset
        %legend Enter your credentials
        = f.input :username
        = f.input :password      
        .controls
          = f.button :submit, :value => "Log in", :class => "button"
          %p
            = link_to "Or sign up...", register_path
