.navbar.navbar-static-top
  .navbar-inner
    = link_to 'PuckPicks', root_path, class: 'brand'
    %ul.nav
      - if logged_in?
        %li= link_to 'My Picks', my_picks_path
        - if current_user && current_user.admin?
          %li= link_to 'Edit games', admin_games_path, class: 'admin'

      / %li= link_to 'Bar', '#'
      / %li= link_to 'Baz', '#'
      / %li= link_to 'Qux', '#'

    .pull-right  
      - if logged_in?
        = link_to 'Log out', sessions_path, class: 'btn pull-right', method: 'delete'
        .navbar-text.pull-right
          %small.span4
            = "Current time #{date_and_time(Now.now)}"
          = "Signed in as "
          = current_user.username
      - else
        = link_to 'Log in', :login, class: 'btn btn-primary'
        = link_to 'Register', register_path, class: 'btn'