.row
  .large-12.columns
    %h2 Register
    = simple_form_for @user do |f|
      %fieldset
        %legend Fill in your details
        = render 'shared/form_errors', f: f
        = f.input :username, placeholder: "(e.g.) thegreatone99"
        = f.input :email, placeholder: "(e.g.) wayne@gretzkys.com"
        = f.input :password
        = f.input :password_confirmation
        .controls
          = f.button :submit, :class => "button", :value => "Register"