- if logged_in?
  - if game.started?
    %em Betting closed.
  - elsif (pick = current_user.pick_for(game)).present?
    %em= "You picked #{pick.text}."
  - else
    .btn-group
      = render 'shared/pick_button', game: game, team: game.away, spread_wager: 1, css_class: "btn-success"
      = render 'shared/pick_button', game: game, team: game.away, spread_wager: 2, css_class: "btn-success" 
- else
  = link_to "Log in", login_path, class: "btn btn-mini"