%h4.time
  = time_only(game.faceoff_time)
  = " (Betting closed)" if game.started?
- css_class = "large-block-grid-4 small-block-grid-4 game"
- css_class += " closed" if game.started?
%ul{ class: css_class }
  %li
    = render 'shared/pick_button', game: game, team: game.away, spread_wager: 1
    = render 'shared/pick_button', game: game, team: game.away, spread_wager: 2
  %li= image_tag "#{game.away.code}.png"
  %li= image_tag "#{game.home.code}.png"
  %li
    = render 'shared/pick_button', game: game, team: game.home, spread_wager: 1
    = render 'shared/pick_button', game: game, team: game.home, spread_wager: 2