= form_for [:my, Pick.new], :html => { :style => "display: inline "} do |f|
  = f.hidden_field :game_id, :value => game.id
  = f.hidden_field :team_id, :value => team.id
  = f.hidden_field :spread_wager, :value => spread_wager
  = f.submit "#{team.code} +#{spread_wager}", class: "btn btn-mini #{css_class}"