.row
  .large-8.columns
    %h3#games= "Games for #{date_only(Now.now)}"
    %p= "Current time: #{date_and_time(Now.now)}"

    - @today_games.each do |game|
      %h4.time
        = time_only(game.faceoff_time)
        = " (Betting closed)" if game.started?
      - css_class = "large-block-grid-4 small-block-grid-4 game"
      - css_class += " closed" if game.started?
      %ul{ class: css_class }
        %li
          = render 'shared/pick_button', game: game, team: game.away, spread_wager: 1
          = render 'shared/pick_button', game: game, team: game.away, spread_wager: 2
        %li= image_tag "#{game.away.code}.png"
        %li= image_tag "#{game.home.code}.png"
        %li
          = render 'shared/pick_button', game: game, team: game.home, spread_wager: 1
          = render 'shared/pick_button', game: game, team: game.home, spread_wager: 2
  .large-4.small-12.small-centered.columns
    - if logged_in?
      = render 'shared/current_users_score'

.row
- @today_games.each do |game|
  .span2.game
    %p
      %strong= game.away.code
      at
      %strong= game.home.code
      ="(#{time_only(game.faceoff_time)})"
    - if game.started?
      %em Betting closed.
    - elsif logged_in? && (pick = @my_picks.find { |pick| pick.game == game}).present?
      - # The code above is too complex for a view, but I'm not sure how to deal with it as a helper.
      %em= "You picked #{pick.text}."
    - else
      .pick-buttons
        = render 'shared/pick_button', game: game, team: game.away, spread_wager: 1
        = render 'shared/pick_button', game: game, team: game.away, spread_wager: 2
      .pick-buttons
        = render 'shared/pick_button', game: game, team: game.home, spread_wager: 1
        = render 'shared/pick_button', game: game, team: game.home, spread_wager: 2