%h2 Proline for bragging rights.

%ul

/ note: http://www.foragoodstrftime.com/ was a big help here
.span4
  .well.well-small
    %h4= "Games for #{today_text}"
    - @today_games.each do |game|
      %li
        - if logged_in?
          .pull-right
            = form_for [:my, @pick] do |f|
              = f.hidden_field :game_id, :value => game.id
              = f.hidden_field :team_id, :value => game.home.id
              = f.hidden_field :spread_wager, :value => 1
              = f.submit "#{game.home.code} +1"

        - else
          .pull-right
            %em Log in to make your pick.

        %p
          %strong= game.away.code
          at
          %strong= game.home.code
        %p
          = time_only(game.faceoff_time)
