.row
  .large-8.columns
    %h3#games= "Games for #{date_only(Now.now)}"
    %p= "Current time: #{date_and_time(Now.now)}"

    - @today_games.each do |game|
      = render 'shared/pick_form', game: game
  .large-4.small-12.small-centered.columns
    - if logged_in?
      = render 'shared/current_users_score'

.row
- @today_games.each do |game|
  .span2.game
    %p
      %strong= game.away.code
      at
      %strong= game.home.code
      ="(#{time_only(game.faceoff_time)})"
    - if game.started?
      %em Betting closed.
    - elsif logged_in? && (pick = find_pick_by_game(@my_picks, game)).present?
      - # The code above is too complex for a view, but I'm not sure how to deal with it as a helper.
      %em= "You picked #{pick.text}."
    - else
      .pick-buttons
        = render 'shared/pick_button', game: game, team: game.away, spread_wager: 1
        = render 'shared/pick_button', game: game, team: game.away, spread_wager: 2
      .pick-buttons
        = render 'shared/pick_button', game: game, team: game.home, spread_wager: 1
        = render 'shared/pick_button', game: game, team: game.home, spread_wager: 2