%h2 Proline for bragging rights.

%ul

/ note: http://www.foragoodstrftime.com/ was a big help here
.span6
  .well.well-small
    %h4= "Games for #{date_only(Now.now)}"
    %table.table.table-bordered.table-striped
      - @today_games.each do |game|
        %tr
          %td
            = render 'shared/home_pick_buttons', game: game
          %td
            %p
              %strong= game.away.code
              at
              %strong= game.home.code
              ="(#{time_only(game.faceoff_time)})"
          %td
            = render 'shared/away_pick_buttons', game: game