!!!
%html
  %head
    %title PuckPicks
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %header
      %nav
        = render 'layouts/shared/nav'
      %h2
        = yield :banner


    - if flash[:notice]
      .alert.alert-success= flash[:notice]
    - if flash[:alert]
      .alert.alert-error= flash[:alert]
    
    = yield

    %footer
      &copy; 2013 [Jesse Buchanan](http://jbinto.ca). [Open source](https://github.com/jbinto/puckpicks).